################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIPassApp/APIPassApp/bin/Debug/net5.0
/APIPassApp/APIPassApp/obj/
/APIPassApp/.vs/
